.DS_Store
*.m~
*.sh~
*.txt~
*.tex~

__pycache__/

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.tex

*.mat
*.h5
*.npy
*.txt
*.mod
*.dat
fort.*

*.o
*.obj
*.mod
*.exe

fortran_supplement_ver_1.1.pdf

test/
kate/
outside-code/

riprap/
kaergaard-data/
selwyn/

*.fwr
*.rap
